@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
  color: white;
}

@layer utilities {
  .clickable-hover {
    @apply hover:brightness-125 hover:scale-[1.01] transition duration-500 ease-in-out
  }

  .clickable-hover-opacity {
    @apply hover:opacity-60 transition duration-500 ease-in-out
  }

  .padding-standard {
    @apply px-8 md:px-12 xl:px-24 pt-4 2xl:py-24;
  }
}

.EmojiPickerReact.epr-dark-theme, .epr-search {
  background-color: rgb(9 9 11 / 0.3) !important;
}

.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
  background-color: rgb(39 39 42 / 0.1) !important;
}

.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-content {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}